<img id="logo" alt="logo" src="https://www.flaticon.com/svg/static/icons/svg/2316/2316868.svg">
<div class="topnav">
    <a href="#/registration">Registration</a>
    <a href="#/login">Login</a>
    <a class="active" href="#/carpark">Carpark Availability</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>User Information:</h2>
            <div class="row">
                <h4>Name: {{firstName}} {{lastName}}</h4>
                <h4>Email: {{email}}</h4>
                <h4>Contact: {{contact}}</h4>
            </div>
            <form accept-charset="utf-8" class="form" role="form">
                <h2>Get Carpark Availability</h2>
                <div class="row">
                    <input type="datetime-local" ng-model="dateTime" class="form-control input-lg" required>
                </div>
                <br>
                <button class="btn btn-lg btn-primary btn-block query-btn" type="submit" ng-click="sendQuery()">
                    Send Query</button>
            </form>
            <br>
            <h2>Response:</h2>
        </div>
    </div>

    <div class="row">        
        <table class="col-md-12">
            <tr>
                <th>Carpark Number</th>
                <th>Lot Type</th>
                <th>Lots Available</th>
                <th>Total Lots</th>
                <th>Update Date & Time</th>
            </tr>
            <tbody ng-repeat="x in carparkData">
                <tr>
                    <td>{{x.carpark_number}}</td>
                    <td>{{x.carpark_info[0].lot_type}}</td>
                    <td>{{x.carpark_info[0].lots_available}}</td>
                    <td>{{x.carpark_info[0].total_lots}}</td>
                    <td>{{x.update_datetime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>