<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Carpark Availability</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="carpark" ng-controller="carparkCtrl"> -->
    <img id="logo" alt="logo" src="https://www.flaticon.com/svg/static/icons/svg/2316/2316868.svg">
    <div class="topnav">
        <a href="#/registration">Registration</a>
        <a href="#/login">Login</a>
        <a class="active" href="#/carpark">Carpark Availability</a>
      </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form accept-charset="utf-8" class="form" role="form">
                    <h2>Get Carpark Availability</h2>
                    <!-- <input type="email" ng-model="email" class="form-control input-lg" placeholder="Your Email" required>
                    <input type="password" ng-model="password" class="form-control input-lg" placeholder="Password" required>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" ng-click="signIn()">
                        Sign In</button> -->
                </form>
            </div>
        </div>
    </div>
<!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="js/carpark-availability.js"></script>
</body>

</html> -->