<img id="logo" alt="logo" src="https://www.flaticon.com/svg/static/icons/svg/2316/2316868.svg">
<div class="topnav">
    <a href="#/registration">Registration</a>
    <a href="#/login">Login</a>
    <a class="active" href="#/carpark">Carpark Availability</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
                <h2>User Information:</h2>
                <div class="row">
                    <h4>Name: {{firstName}} {{lastName}}</h4>
                    <h4>Email: {{email}}</h4>
                    <h4>Contact: {{contact}}</h4>
                </div>
                <h2>Get Carpark Availability</h2>
                
            </form>
        </div>
    </div>
</div>