<img id="logo" src="https://www.flaticon.com/svg/static/icons/svg/2316/2316868.svg">
<div class="topnav">
    <a class="active" href="#/registration">Registration</a>
    <a href="#/login">Login</a>
    <a href="#/carpark">Carpark Availability</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form accept-charset="utf-8" class="form" role="form">
                <h2>User Registration</h2>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input type="text" ng-model="firstname" class="form-control input-lg" placeholder="First Name"
                            required>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <input type="text" ng-model="lastname" class="form-control input-lg" placeholder="Last Name"
                            required>
                    </div>
                </div>
                <input type="email" ng-model="email" class="form-control input-lg" placeholder="Your Email" required>
                <input type="text" ng-model="contact" class="form-control input-lg" placeholder="Your Contact Number">
                <input type="password" ng-model="password" class="form-control input-lg" placeholder="Password"
                    required>
                <input type="password" ng-model="confirmed" class="form-control input-lg" placeholder="Confirm Password"
                    required>
                <br>
                <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" ng-click="signUp()">
                    Sign Up</button>
            </form>
        </div>
    </div>
</div>